.home_cont img {
  margin-bottom: 15px;
}

.netw_btn {
  font-size: 12px;
  width: 100%;
  margin-top: 5px;
  height: 50px;
  --color: #0000;
  background: transparent;
  border: 2px solid #ffff;
  --border-radius: 30px;
  border-radius: 30px;
}

.netw3 {
  font-size: 12px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  height: 50px;
  --color: #0000;
  background: transparent;
  --border-radius: 30px;
}

.newt-link a {
  font-size: 14px;
  text-decoration: none;
  --text-decoration: none;
  width: 100%;
  margin-top: 10px;
  height: 45px;
  --border-radius: 30px;
  color: #ffff;
}
