// Header
.contentImg img {
  margin-top: 5%;
  width: 100%;
  height: auto;
}

ion-header ion-toolbar ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-size {
  display: flex;
  align-items: center;
  justify-content: center;
}
