<app-header></app-header>

<ion-content class="ion-padding">

  <b>Crear cotización</b>

  <img class="barra" src="../../assets/img/barra_fror.png">
  <img class="barra1" src="../../assets/img/barra_fror.png">
  <img class="barra2" src="../../assets/img/barra_fror.png">

  <label class="formu">
    <span class="label-for"></span>
    <input class="valor" type="text" placeholder="Valor de la oferta">
  </label>
  <label class="celda2">
    <span class="input-label"></span>
    <input class="oferta" type="text" placeholder="Descripción de la oferta">
  </label>

  <label class="celda3">
    <span class="label-dos"></span>
    <input class="tiempo" type="text" placeholder="Tiempo de ejecución">

  </label>

  <button [routerLink]="['/contractor/page1']" class="publicar">
    Publicar
    <a class="texto1"></a>
  </button>

</ion-content>
