<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="3" class="icon-size">
        <ion-icon class="icono1" name="chatbox-ellipses-outline"></ion-icon>
      </ion-col>
      <ion-col size="6" class="contentImg">
        <img src="../../assets/img/LOGO_QUIENPARA.png" alt="Logo Quien Para" srcset="">
      </ion-col>
      <ion-col size="3" class="icon-size">
        <ion-icon class="icono2" name="apps-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding">
  <img class="conta" src="../../assets/img/electronica.png">
  <button [routerLink]="['/cotizacion']" class="boton">
    Crear Cotizacion
  </button>
  <button [routerLink]="['/tabs/tab1']" class="boton1">
    Rechazar Oferta
  </button>
  <img class="contaimg" src="../../assets/img/pinta.png">

  <img class="contador" src="../../assets/img/electronica.png">
  <button [routerLink]="['/cotizacion']" class="boton">
    Crear Cotizacion
  </button>
  <button [routerLink]="['/tabs/tab1']" class="boton1">
    Rechazar Oferta
  </button>


  <button [routerLink]="['/cotizacion']" class="boton2">
    Crear Cotizacion
  </button>

  <button [routerLink]="['/tabs/tab1']" class="boton3">
    Rechazar Oferta
  </button>

  <img class="imgpinta" src="../../assets/img/contador.png">
</ion-content>
